.image{
    position: relative;
}
.image img{
    position:absolute;
    z-index: -1;
    top: 250px;
}
@media only screen and (max-width: 900px){
	.image{
        display: none;
    }
}

  .service-section {
    padding: 10px;
  }
  .single-service {
    text-align: left;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px #f1f1f1;
    transition: .5s;
  }

  .single-service:hover {
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 29, 0.1);
    transform: translateY(-5px);
  }
  .single-service h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .single-service p {
      text-align: justify;
    font-size: 16px;
    font-weight: 400;
    color: #777;
  }
  .get-btn{
    transition: .5s;
  }
  .get-btn:hover{
      transform: translateY(-5px);
      color: lightslategray;
  }